name: Check list order

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-order:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Add Spanish locale
        run: sudo locale-gen es_ES.UTF-8

      - run: python scripts/check_order.py
